main {
    margin: 25px;
    background-color: tan;
    padding: 25px;
    height: auto;
    border-style: solid;
    border-color: silver;
    min-width: 550px;
  }
  
  .mainTitle {
    color: black;
    text-align: center;
    font-family: 'Tangerine', cursive;
  }
  
  .mainTitle h1 {
    font-size: 60px;
  }
  
  .mainTitle h2 {
    font-size: 30px;
  }
  
  .mainFont {
      font-family:'Lucida Sans', 'Lucida Sans Regular', sans-serif;
  }
  
  .mainPictureArea {
    background-color: silver;
    margin-left: 12%;
    width: 75%;
    height: auto;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }
  
  .mainPictureArea img {
    border-radius: 25%;
    height: 400px;
    width: 300px;
    margin: 25px 10px 0px;
    opacity: 75%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .mainPictureArea img:hover {
    opacity: 100%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 1);
  }

.introduction p {
    margin-left: 12%;
    width: 76%;
    text-align: justify;
    text-justify: inter-word;
  }

.youngTolkienWrap {
    border-style: solid;
    width: 50%;
}

.oldTolkienWrap {
    border-style: solid;
    width: 50%;
}


  /* Timeline Area */
  
  .timeline {
    margin: 0 25% 0 25%;
    padding: 10px 5% 30px 5%;
    background-color: silver;
    border-radius: 8%;
    border-style: solid;
    border-width: 1px;
  }

  .timeline li {
      list-style: none;
      padding-top: 15px;
    }
  
  .timeline a {
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    font-size: 30px;

  }
  
  .timeline li:hover {
    list-style: circle;
  }




  /* Other Sources Area */

  .otherSources {
    margin: 25px 24% 0 25%;
  }
  
  .otherSources p {
    text-align: left;
  }
  
  .otherSources li {
    list-style: none;
  } 
  
  .otherSources a {
    color: black;
    text-decoration: none;
    padding-left: 1%;
  }
  
  .otherSources a:hover {
    color: brown;
  }